* {
  box-sizing: border-box; }

body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #222;
  background-color: white;
  margin-left: 240px;
  margin-right: 240px; }

.flex {
  display: flex; }

header {
  height: 28px;
  line-height: 33px;
  margin: auto;
  width: 1440px;
  background-color: #f2f2f2; }
  header span {
    position: absolute;
    right: 5px; }
  header a {
    font-size: 14px;
    color: #000;
    margin-right: 20px;
    text-decoration: none; }

#header-nav {
  position: relative; }
  #header-nav:first-child {
    margin-left: 75px; }
  #header-nav:last-child {
    margin-right: 75px; }

.active {
  border-bottom: 2px solid #000; }

#search-page-section {
  position: relative;
  margin-top: 20px; }
  #search-page-section #bank-image {
    margin-left: 75px;
    height: 31px;
    width: 331px; }
  #search-page-section button {
    position: absolute;
    right: 75px; }

#service-type-section {
  margin-top: 20px; }
  #service-type-section nav {
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px; }
  #service-type-section a {
    font-size: 20px;
    color: #000;
    text-decoration: none; }

#login-section {
  margin-top: 10px;
  position: relative; }

#login {
  background-color: #dc1431;
  color: white;
  height: 327px;
  width: 298px;
  position: absolute;
  top: 20px;
  left: 50px; }
  #login form {
    position: relative;
    height: 100%; }
  #login input {
    font-size: 16px;
    margin-left: 16px;
    width: 266px;
    height: 40px;
    margin-top: 20px; }
  #login button {
    background-color: #dc1431;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    margin-left: 16px;
    margin-top: 20px;
    right: 20px;
    width: 266px;
    height: 40px; }
  #login #save-user-id-text {
    margin-left: 16px;
    position: relative;
    width: 266px;
    height: 30px;
    margin-top: 20px;
    vertical-align: middle; }
  #login #save-user-id {
    margin: 0px;
    width: 30px;
    height: 30px; }
  #login #label-save-id {
    position: absolute;
    font-size: 14px;
    height: 16px;
    bottom: 5px;
    margin-left: 10px; }
  #login a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 16px;
    line-height: 1.8em;
    font-family: "cnx-light"; }
  #login #enroll-link {
    position: absolute;
    right: 45px; }
  #login #open-an-account-link {
    margin-left: 5px;
    display: inline-block;
    width: 288px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    background-color: #c41230; }

#position-container {
  position: relative;
  height: 314px;
  width: 298px; }

#atm-search-schedule-apt-container {
  position: absolute;
  bottom: 45px;
  left: 50px; }
  #atm-search-schedule-apt-container #atm-search {
    width: 298px;
    height: 55px;
    background-color: #0073cf; }
    #atm-search-schedule-apt-container #atm-search span {
      margin-top: 11px;
      display: inline-block;
      margin-left: 3px;
      width: 231px; }
  #atm-search-schedule-apt-container i {
    margin-left: 16px;
    font-size: 30px; }
  #atm-search-schedule-apt-container a {
    font-size: 16px;
    font-family: "cnx-light";
    text-decoration: none;
    color: white; }
  #atm-search-schedule-apt-container > :last-child {
    height: 35px;
    background-color: #0052c2; }
    #atm-search-schedule-apt-container > :last-child i {
      font-size: 20px; }
    #atm-search-schedule-apt-container > :last-child a {
      margin-left: 3px;
      margin-top: 9px;
      display: inline-block; }

#apply-today-container {
  position: absolute;
  top: 20px;
  left: 378px; }
  #apply-today-container h1 {
    font-size: 40px; }
  #apply-today-container h2 {
    font-size: 20px;
    margin-top: 20px; }
  #apply-today-container button {
    color: white;
    background-color: #012169;
    font-family: "cnx-regular",Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-top: 38px;
    width: 144px;
    height: 38px; }

#features-section {
  margin-top: 5px; }
  #features-section .col-6 {
    position: relative;
    width: 720px;
    height: 352px; }
  #features-section #find-credit-card {
    background-color: white;
    width: 314px;
    height: 156px;
    position: absolute;
    top: 30px;
    left: 50px;
    padding: 16px 23px 22px 25px;
    font-family: "cnx-regular",Arial,Helvetica,sans-serif; }
    #features-section #find-credit-card div {
      font-size: 24px;
      color: #dc1431; }
    #features-section #find-credit-card p {
      margin-top: 14px;
      margin-bottom: 14px;
      font-size: 14px; }
    #features-section #find-credit-card a {
      display: inline-block;
      text-decoration: none;
      color: #0052c2;
      font-size: 16px;
      margin-top: 20px; }
    #features-section #find-credit-card i {
      color: #0052c2; }
  #features-section #fight-against-hunger-container {
    position: absolute;
    left: 50px;
    top: 30px;
    background-color: white;
    width: 314px;
    height: 200px;
    padding: 16px 23px 22px 25px; }
    #features-section #fight-against-hunger-container div {
      font-size: 24px;
      color: #dc1431; }
    #features-section #fight-against-hunger-container p {
      margin-top: 14px;
      margin-bottom: 14px;
      font-size: 14px; }
    #features-section #fight-against-hunger-container a {
      display: inline-block;
      text-decoration: none;
      color: #0052c2;
      font-size: 16px;
      margin-top: 22px; }
  #features-section #row2-features-section {
    background-color: #f2f2f2;
    padding-left: 75px;
    padding-right: 75px; }
    #features-section #row2-features-section .col-3 {
      width: 316.8px;
      height: 237.78px;
      padding-top: 10px;
      padding-left: 35px;
      padding-right: 25px; }
      #features-section #row2-features-section .col-3 div {
        font-size: 24px;
        color: #dc1431; }
      #features-section #row2-features-section .col-3 p {
        color: black;
        margin-top: 14px;
        margin-bottom: 14px;
        font-size: 14px; }
      #features-section #row2-features-section .col-3 a {
        display: inline-block;
        text-decoration: none;
        color: #0052c2;
        font-size: 16px;
        margin-top: 20px; }
      #features-section #row2-features-section .col-3 img {
        width: 55px; }
      #features-section #row2-features-section .col-3 #shield-image {
        width: 50px;
        height: 55px; }
      #features-section #row2-features-section .col-3 #merril-image {
        width: 152.2px;
        height: 55px; }
      #features-section #row2-features-section .col-3 i {
        color: #0052c2; }
